th{
  padding: 5px;
}

td{
  padding: 5px;
}

tbody tr:nth-child(even){
  background-color: rgb(185, 208, 217);
}
tbody tr:nth-child(even):hover{
  background-color: rgb(164, 184, 192);
  cursor: pointer;
}

tbody tr:nth-child(odd){
  background-color: white;
}
tbody tr:nth-child(odd):hover{
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}